@keyframes loading-screen-in {
    0%{
        width:0vw;
    }
    100%{
        width:100vw;
    }
}

.loading-screen-in{
    animation-name: loading-screen-in;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}

@keyframes loading-screen-out {
    0%{
        width:100vw;
    }
    100%{
        width:0vw;
        display: none;
    }
}

.loading-screen-out{
    animation-name: loading-screen-out;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

@keyframes mobile-main-title-in{
    0%{
        transform: rotate(-90deg) translateY(-100vw);
        /* transform: rotate(-90deg); */
    }
    100%{
        transform: rotate(-90deg) translateY(0vw);
        /* transform: rotate(-90deg); */
    }
}

.mobile-main-title-in{
    transform: rotate(-90deg) translateY(-100vw);
    animation-name: mobile-main-title-in;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}

@keyframes mobile-main-title-out{
    0%{
        transform: rotate(-90deg) translateY(0vw);
        /* transform: rotate(-90deg); */
    }
    100%{
        transform: rotate(-90deg) translateY(-100vw);
        /* transform: rotate(-90deg); */
    }
}

.mobile-main-title-out{
    transform: rotate(-90deg) translateY(0vw);
    animation-name: mobile-main-title-out;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}

@keyframes mobile-view-now-btn-in{
    0%{
        transform:translateX(100vw);
    }
    100%{
        transform:translateX(0vw);
    }
}

.mobile-view-now-btn-in{
    transform:translateX(100vw);
    animation-name: mobile-view-now-btn-in;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes mobile-view-now-btn-out{
    0%{
        transform:translateX(0vw);
    }
    100%{
        transform:translateX(100vw);
    }
}

.mobile-view-now-btn-out{
    transform:translateX(0vw);
    animation-name: mobile-view-now-btn-out;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes mobile-view-right-hero-in{
    0%{
        transform:translateX(50vw);
    /* width: 0vw; */
    }
    100%{
        transform:translateX(0vw);
    /* width: 50vw; */
    }
}

.mobile-view-right-hero-in{
    transform:translateX(50vw);
    /* width: 0vw; */
    animation-name: mobile-view-right-hero-in;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}

@keyframes mobile-view-right-hero-out{
    0%{
        transform:translateX(0vw);
    /* width: 0vw; */
    }
    100%{
        transform:translateX(50vw);
    /* width: 50vw; */
    }
}

.mobile-view-right-hero-out{
    transform:translateX(0vw);
    /* width: 0vw; */
    animation-name: mobile-view-right-hero-out;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}

@keyframes mobile-navbar-in {
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

.mobile-navbar-in{
    animation-name: mobile-navbar-in;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}