@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

.standard-text {
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

body {
    background-color: #EEF5E6;
}

#loading-screen{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* flex-grow: 1; */
    height:101vh;
    width:0vw;
    background-color: black;
    color:#EEF5E6;
    position:fixed;
    top:0;
}

#loading-text{
    /* disable shrinking of text */
    flex-shrink:0;
    font-size: 2rem;;
}

#main-page{
    display: flex;
}

#left-hero {
    width: 50vw;
    height: 100vh;

}

.name-title {
    font-size: 3rem;
}

#right-hero {
    width: 50vw;
    height: 100vh;
    background-image: url("/images/myself_rotated.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button{
    border-radius:10px;
    font-size:1.2rem;
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

button:hover{
    filter:brightness(99%);
}

.btn-offcanvas{
    /* font-size:1.67rem; */
    color:#EEF5E6;
    background-color: black;
    border:none;
    width: 4rem;
    border-radius: 0 10px 10px 0;
}

.btn-svg{
    height:2rem;
}

.view-now{
    color:#EEF5E6;
    background-color: black;
    border:none;
}

#nav-header{
    padding-top: 100px;
    display:flex;
}

#header-title{
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "width" 100;

    font-size: 4rem;
    padding-left:25px;
    align-self: flex-end;
}

section{
    padding: 3rem;
}

.text-body{
    font-size:1.2rem;
    line-height:1.5rem;
    letter-spacing: 0.06rem;
}

p{
    padding:0.5rem 0 0.5rem 0;
}

.first-word{
    font-weight: 500;
    font-size: 1.4rem;
}

.image{
    width:100%;
    padding:0 0 2rem 0;
}

.potrait-img{
    width:100%;
}

nav{
    position:absolute;
    z-index:1;
    display: flex;
    height:4rem;
    width:100vw;
    background-color: black;
    transform: translateX(-100vw);
    /* padding:1rem; */
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    
}

nav a{
    color:white;
}

